.home-page{
    background-image: url("assets/tech-image.jpeg");
    height: 1040px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}